<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시판 목록</p>
            </header>
            <!--href에 알맞는 URL 설정-->
            <!--a 태그 = get 방식-->
            <h3><a href="/board/register" class="button small">글 등록</a></h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="bno">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                        <th class="regDate">작성일</th>
                        <th class="updateDate">수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--컨트롤러에서 객체 이름 뭔지 빨리 가서 알아보기-->
                    <!--빠른for문-->
                    <th:block th:each="listt : ${list}">
                        <tr th:object="${listt}" class="tBody" >
                            <td th:text="*{bno}" class="bno"></td>
                            <td class="title"><a th:href="@{/board/read(bno=*{bno})}" th:text="*{title}"></a></td>
                            <td th:text="*{writer}"class="writer"></td>
                            <td th:text="*{regDate}"class="regDate"></td>
                            <td th:text="*{updateDate}"class="updateDate"></td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script th:inline="javascript">
    //글 등록 시 전달받는 게시글 번호를 alert으로 출력
    $(document).ready(function () {
    let bno = [[${bno}]];
        if(bno == null){
            return;
        }
        alert("게시글 " + bno + "번이 등록되었습니다.");
    })
</script>
</html>